<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>目標確認ページ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <h1 class="row justify-content-center">過去に達成した目標</h1>
    <div class="mb-5">
      <% incomplete_goals = @mid_term_goals.select{ |goal| !goal.is_complete } %>
      <% if !incomplete_goals.any? %>
        <% incomplete_goals.each do |goal| %>
          <li class="list-group-item">
            <strong>中期的な目標:</strong> <%= goal.mid_goal %><br>
            <strong>何をするのか:</strong> <%= goal.what_to_do %><br>
            <strong>なぜそれを行うのか:</strong> <%= goal.why_to_do %><br>
            <strong>なぜ現状がそうなっているのか:</strong> <%= goal.why_current_status %><br>
            <strong>優先順位:</strong> <%= goal.priority %><br>
            <strong>締め切り:</strong> <%= goal.mid_goal_deadline.strftime("%Y/%m/%d") %><br>
            <strong>目標作成した日:</strong> <%= goal.created_at.strftime("%Y/%m/%d") %><br>
          </li>
        <% end %>
      <% end %>
</body>