<!DOCTYPE html>
<html>
<head>
  <title>Gauge Square</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="sidebar">
    <div class="app-icon">
      <%= link_to image_tag('gs_appicon.png', alt: 'App Icon'), '/home' %>
    </div>
    <div class="navigation-icons">
      <%= link_to image_tag('icon_003020_256.png', alt: 'Nav 1'), '/goalset' %>
      <%= link_to image_tag('icon_071510_256.png', alt: 'Nav 2'), '/progress' %>
      <%= link_to image_tag('icon_069430_256.png', alt: 'Nav 3'), '/complete' %>
      <%= link_to image_tag('icon_056340_256.png', alt: 'Nav 4'), '/feedback' %>
    </div>
  </div>

  <%= yield %>

  <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
</body>
</html>
